# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=MY_MONGODB_PASSWORD

# Backend
PORT=3001
MONGODB_URI=mongodb://root:<PASSWORD>@mongodb:27017/taskhub?authSource=admin

# Frontend
NEXT_PUBLIC_API_URL=http://MY_EC2_PUBLIC IP:3001